<!DOCTYPE html>
<html lang="pt_br">

<head>
    <!-- {% block head%} -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base template</title>

    <link rel="stylesheet" href="../static/sstyle.css">
    <!-- {% endblock %}  -->
</head>

<body>
    <main>
        <!-- {% block nav %} -->
        <header>
            <div id="logo">
                <h1 id="h1color"><big>CP<sub>2</sub></big></h1>
            </div>
            <div id="menu">
                <ul>
                    <a href="/home">Home</a>
                    <a href="/resumo">Resumo</a>
                    <a href="/formacao">Formação</a>
                    <a href="/historico">Histórico</a>
                </ul>
            </div>

        </header>
        <!-- {% endblock %} -->

        <section>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ducimus ipsa quidem ex sint perferendis provident assumenda deleniti sapiente sequi ea impedit blanditiis, perspiciatis eum id fuga! Nesciunt, maxime qui!Loremlo</p>
        </section>

        <!-- {% block flooter %} -->
            <footer>
                <div><a>Todos os direitos reservados</a></div>
            </footer>
        <!-- {% endblock %} -->
    </main>
</body>

</html>