<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>

    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>
    <main class="main">
        <header class="header">
            <div id="menu">
                <h1><big>CP<sub>2</sub></big></h1>
            </div>
            <nav>
                <ul>
                    <a href="/">Home</a>|
                    <a href="/resumo">Resumo</a>|
                    <a href="/formacao">Formação</a>|
                    <a href="/historico">Histórico</a>
            </nav>
        </header>
        <section class="section" >
            <h2>HISTÓRICO E EXPERIÊNCIAS PROFISSIONAIS:</h2>
            <p>
                03/2007 a 01/2009
                Phoenix Tube Ltda. - Autônomo – São Carlos – SP
                http://phoenixtube.com.br/
                Engenheiro Mecânico Pleno</p>

            <p>
                04/2005 a 01/2007
                Perdigão Agroindustrial SA. – Frigorífico de aves – Mineiros – GO
                http://www.perdigao.com.br/
                Engenheiro Mecânico Pleno
            </p>

            <p>
                06/1999 a 12/1999
                Volkswagen do Brasil Ltda - Multinacional no ramo automobilístico – Taubaté – SP
                http://www.vw.com.br/pt.html
                Estagiário de Engenharia Mecânica - Área de Manufatura / Produção
            </p>

            <p>
                12/1998 a 05/1999
                Citab – Cerâmica Ind. de Taubaté Ltda - Empresa de médio porte de cerâmica – Taubaté – SP
                Projetista Mecânico
            </p>

            <p>
                02/1997 a 11/1998
                Daido – Industrial e Comercial Ltda - Metalúrgica de médio porte - Taubaté – SP
                http://www.daido.com.br/contato.php
                Desenhista Projetista
            </p>

            <p>
                05/1993 a 11/1995
                CIBI – Cia. Ind. Brasileira Impianti – Industria de médio porte para a const. civil – Taubaté - SP
                http://www.cibi.com.br/
                Desenhista Projetista.
            </p>

            <p>
                08/1988 a 12/1990
                EMBRAER - Empresa Brasileira de Aeronáutica S/A – SJC – SP
                http://www.embraer.com/pt-BR/Paginas/Home.aspx
                Desenhista
            </p>

            <p>
                03/1984 a 01/1987
                PROVIDRO LTDA - Indústria de médio porte de vidros - Caçapava – SP
                Desenhista
            </p>
        </section>
        <footer>
            <h5>Todos os direitos reservados</h5>
        </footer>
    </main>
</body>
</html>