{% extends "base.html" %}
{% block section %}
     
        
        <section class="texto">
            <div class="img">
                <img src="static/img/Eng_600_300.png">
            </div>
            <div>
                <h2>Sobre a Engenharia Mecânica</h2>
                <h3>Desenvolvimento de máquinas e equipamentos</h3>
                <P>Essa talvez seja uma das atuações mais conhecidas do engenheiro mecânico, que está envolvido na idealização e no desenvolvimento dos mais diversos tipos de máquinas e equipamentos.
    
                Por exemplo, a agricultura de precisão necessita dos mais diversos tipos de máquinas e instrumentos para aproveitar melhor todas as safras. Assim, no curso de Engenharia Mecânica, você ganha todo o conhecimento para atuar nessa área.

                Há também outros setores que pedem engenheiros mecânicos cheios de vontade de fazer a diferença, como:
                <ul>
                    <li>na construção de equipamentos para fontes de energia limpa, como solar e eólica;</li>                                <li>o aprimoramento de equipamentos de ar-condicionado;</li>
                    <li>na indústria automotiva, melhorando a potência dos veículos, sempre de olho na sustentabilidade;</li>
                    <li>nos equipamentos da indústria petroquímica, aprimorando bombas, refino e distribuição.</li>
                </ul>
                </p>
                <br>
            </div>
            <address align="right"><a href="https://blog.anhanguera.com/engenheiro-mecanico/", side="left">fonte: https://blog.anhanguera.com/engenheiro-mecanico/</a></address>
        </section>
        {% endblock %}