{% extends "base.html" %}
{% block section %}


<section class="texto">
    <div>
        <h2>RESUMO DE QUALIFICAÇÕES:</h2>
        <p>Tenho 39 anos na área de mecânica. Experiência em empresas de grande porte como: Perdigão, Volkswagen do
            Brasil, Embraer e colaborador em empresas de médio porte como: Cibi, Daido, Citab, Providro, Phoenix Tube;
            exerci funções de: Mecânico de Manutenção, desenhista, desenhista projetista, estagiário de engenharia
            mecânica e engenheiro de projetos; lecionei como professor na escola técnica no curso de mecânica e também
            em escolas públicas.
        </p>
        <br>
        <hr>
        <h2>HISTÓRICO E EXPERIÊNCIAS PROFISSIONAIS:</h2>
        <p>Participação na criação de uma nova fábrica (Perdigão) em Mineiros-GO, dei suporte às equipes na elaboração e
            gestão de projetos, acompanhamento e montagem dos equipamentos nas obras, equalização de orçamentos para
            compras de equipamentos e busca de fornecedores.
            Atuei em projeto com o objetivo de redução de custos, aumento de produtividade e melhoria no ambiente de
            trabalho em toda à empresa. Coordenando, distribuindo e monitorando tecnicamente as ações, atividades,
            implementações, resultados e o cumprimento de prazos para a equipe. Registramos marca significativa de 29%
            da realização do projeto de dois anos nos três primeiros meses. Controle e distribuição de gastos ao centro
            de custo (investimentos, despesas,...).
        </p>
    </div>

</section>
{% endblock %}